.card__image-wrapper {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
}

.card__image {
  width: 100%;
  height: auto;
  border-radius: 6px;
  border-left: 3px dashed var(--primary-color); /* Bordure gauche */
  border-bottom: 3px dashed var(--primary-color); /* Bordure bas */
}

.card__info {
  margin-top: -15px;
}

.card__title {
  font-size: var(--font-sm);
  font-weight: 700;
  margin-bottom: 4px;
}

.card__availability {
  font-size: var(--font-xs);
  font-weight: 400;
  margin-top: -2px;
}

.card__owner {
  color: var(--secondary-color);
}
