* {
  font-family: "Urbanist", sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4f14ce;
  --secondary-color: #f37bd9;
  --text-color: #000000;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
