<div class="home">
  <h1>Bienvenue <span>Marie</span></h1>

  <h2>Les derniers objets ajoutés par vos amis</h2>
</div>
<div class="search-bar">
  <button class="search-bar__button">
    <img src="assets/icon-test.svg" alt="Rechercher" class="search-bar__icon" />
  </button>
  <input
    type="text"
    class="search-bar__input"
    placeholder="Rechercher un objet, un ami..."
  />
</div>

<div class="card-grid">
  <app-card class="card-grid__item"></app-card>
  <app-card class="card-grid__item"></app-card>
  <app-card class="card-grid__item"></app-card>
  <app-card class="card-grid__item"></app-card>
</div>
