<footer class="footer">
  <nav class="footer__nav">
    <a href="#" class="footer__item">
      <img src="assets/icon-test.svg" alt="Accueil" class="footer__icon-img" />
      <span class="footer__text">Accueil</span>
    </a>
    <a href="#" class="footer__item">
      <img src="assets/icon-test.svg" alt="Favoris" class="footer__icon-img" />
      <span class="footer__text">Mes amis</span>
    </a>

    <!-- Lien Ajouter avec une icône SVG rose -->
    <a href="#" class="footer__item footer__item--add">
      <img src="assets/icon-test.svg" alt="Ajouter" class="footer__add-icon" />
    </a>

    <a href="#" class="footer__item">
      <img
        src="assets/icon-test.svg"
        alt="Recherche"
        class="footer__icon-img"
      />
      <span class="footer__text">Recherche</span>
    </a>
    <a href="#" class="footer__item">
      <img
        src="assets/icon-test.svg"
        alt="Inventaire"
        class="footer__icon-img"
      />
      <span class="footer__text">Inventaire</span>
    </a>
  </nav>
</footer>
